@font-face {
  font-family: 'JetBrainsRegular';
  src: url('./assets/fonts/JetBrainsMono/JetBrainsMono-Regular.ttf');
}

#root {
  font-family: 'JetBrainsRegular', 'Roboto', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  min-height: 100vh;
  min-height: 100dvh;
}

h1, h2, h3, h4, p {
  margin: 0;
}
