@font-face {
  font-family: 'JetBrainsRegular';
  src: url('./assets/fonts/JetBrainsMono/JetBrainsMono-Regular.ttf');
}

#root {
  font-family: 'JetBrainsRegular', 'Roboto', sans-serif;
  /* max-width: 1280px; */
  margin: 0 auto;
  width: clamp(320px, 98vw, 1280px);
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
}

h1, h2, h3, h4, p {
  margin: 0;
}
